[submodule "lib/freertos/FreeRTOS-Kernel"]
	path = lib/freertos/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "lib/mlib/mlib"]
	path = lib/mlib/mlib
	url = https://github.com/P-p-H-d/mlib.git
	branch = master
[submodule "lib/pico-kvstore"]
	path = lib/pico-kvstore
	url = https://github.com/oyama/pico-kvstore.git
